// responsive font size
html {
  @include media-breakpoint-down(sm) { font-size: $dh-font-size-small; }
  @include media-breakpoint-up(md) { font-size: $dh-font-size-large; }
}

hr {
  margin: 2*$spacer 0;
}
