@mixin dh-touch-size($width: $dh-touch-width, $height: $dh-touch-height) {
  min-height: $dh-touch-height;
  min-width: $dh-touch-width;
}

@mixin dh-block($props) {
  @include dh-touch-size();
  @include dh-flex-center-y();
  @include dh-sass-extract-props($props, (padding, color, bgc));
}

@mixin dh-block-link($props) {
  @include dh-block($props);
  cursor: pointer;

  $color: dh-get($props, color);
  $bgc: dh-get($props, bgc);

  &:hover {
    text-decoration: none;

    @if $color {
      color: darken($color, 15);
    }
    @if $bgc {
      background-color: darken($bgc, 5);
    }
  }
}
