.dh-accordion {
  @include dh-collapse();

  .dh-section {
    border: 1px solid #ddd;
  }

  .dh-label {
    cursor: pointer;
    font-weight: bold;
    padding: 1em;
    margin: 0;

    &:hover {
      background-color: darken($body-bg, 5);
    }
  }

  .dh-content {
    margin-top: -0.5em;
    padding: 1em;
  }
}
