.dh-accordion {
  border: 1px solid $hr-border-color;

  .dh-section {
    border-bottom: 1px solid $hr-border-color;
  }

  .dh-label {
    padding: 1em;
    margin: 0;
    font-weight: bold;

    &:hover {
      background-color: darken($body-bg, 3);
    }
  }

  .dh-content {
    margin-top: -0.5em;
    padding: 1em;
  }
}
