.dh-accordion {
  $border: 1px solid $hr-border-color;

  border: $border;

  .dh-section {
    border-bottom: $border;
  }

  .dh-label {
    @include dh-flex-center-y();
    padding: 1em;
    opacity: 0.5;
    font-weight: bold;

    &::before {
      display: inline-flex;
      width: 1em;
      height: 1em;
      margin-right: 0.5em;
      content: " ";
      background: url(/assets/img/chevron-right.svg) no-repeat center center;
      background-size: contain;
      transition: transform 0.2s ease;
    }
  }

  .dh-label:hover,
  .dh-toggler:checked ~ .dh-label {
    opacity: 1;
  }

  .dh-toggler:checked ~ .dh-label::before {
    transform: rotate(90deg);
  }

  .dh-content {
    padding: 0 1em 1em;
  }
}
