.dh-topnav {
  margin-bottom: -$dh-header-border-bottom-width;
  font-size: $dh-nav-font-size;
  font-family: $dh-nav-font-family;

  .dh-label {
    background: url(/assets/img/menu_filled.png) no-repeat center center;
  }

  @include media-breakpoint-up(sm) {
    border-left: $dh-topnav-separator-border;

    .dh-topnav-item {
      border-right: $dh-topnav-separator-border;
    }
  }
}

.dh-topnav-item {
  @include dh-block-link((
    padding: 0 $spacer,
    color: $dh-topnav-item-color,
    bgc: $dh-topnav-item-bgcolor
  ));
  border-bottom: $dh-header-border-bottom;

  &:hover {
    border-bottom-color: $dh-topnav-item-color;
  }

  &:first-child {
    border-right: $dh-topnav-separator-border;
  }
}
