@mixin dh-collapse() {
  .dh-content {
    display: none;
  }
  .dh-toggler {
    position: absolute;
    opacity: 0;
  }
  .dh-label {
    cursor: pointer;
  }
  .dh-label,
  .dh-toggler:checked + .dh-content {
    display: block;
  }
}
