@import "bootstrap-variables";

// box model
$dh-touch-height: 64px !default;
$dh-touch-width: 80px !default;

// layout
$dh-header-bg: #f7f7f7 !default;
$dh-header-border-bottom-width: 2px !default;
$dh-header-border-bottom-color: darken($dh-header-bg, 15) !default;
$dh-header-border-bottom: $dh-header-border-bottom-width solid
  $dh-header-border-bottom-color !default;

$dh-main-bg: #fff !default;
$dh-footer-bg: $body-bg !default;

// components
$dh-nav-font-size: $font-size-base !default;
$dh-nav-font-family: $headings-font-family !default;

$dh-topnav-separator-border: 1px solid $dh-header-border-bottom-color !default;
$dh-topnav-breakpoint-visible: md !default;
$dh-topnav-breakpoint-hidden: sm !default;
$dh-topnav-item-color: $link-color !default;
$dh-topnav-item-bgcolor: $dh-header-bg !default;

// type
$dh-font-size-small: 16px !default;
$dh-font-size-large: 18px !default;
