.dh-collapse {
  .dh-content {
    display: none;
  }
  .dh-toggler {
    position: absolute;
    opacity: 0;
  }
  .dh-label {
    cursor: pointer;
    margin: 0;
  }
  .dh-label,
  .dh-toggler:checked ~ .dh-content {
    display: block;
  }
}

/*
<div class="dh-collapse">

    <label class="dh-label" for="collapsable-1">Title</label>
    <input class="dh-toggler" id="collapsable-1" type="checkbox">
    <div class="dh-content">
        Collapsable content
    </div>

</div>

<div class="dh-collapse dh-accordion">

    <section class="dh-section">
        <input class="dh-toggler" id="section-21" type="radio" name="accordion-1">
        <label class="dh-label" for="section-21">
            title 1
        </label>
        <div class="dh-content">
            content 1
        </div>
    </section>

    <section class="dh-section">
        <input class="dh-toggler" id="section-22" type="radio" name="accordion-1">
        <label class="dh-label" for="section-22">
            title 2
        </label>
        <div class="dh-content">
            content 2
        </div>
    </section>

</div>
 */
