@import "../mixins/flex";
@import "../mixins/grid";

.dh-topnav {
  @include dh-flex-center-y();
  @include dh-gutterless-only(xs, $grid-gutter-width);

  display: flex;
  flex-wrap: wrap;

  .dh-label {
    width: $dh-touch-width;
  }

  @include media-breakpoint-down($dh-topnav-breakpoint-hidden) {
    .dh-content {
      display: none;
    }

    .dh-toggler:checked + .dh-content {
      display: flex !important;
      flex-direction: column;
      width: 100%;
    }
  }

  @include media-breakpoint-up($dh-topnav-breakpoint-visible) {
    .dh-label {
      display: none;
    }

    .dh-content {
      display: flex !important;
    }
  }
}

@include media-breakpoint-down($dh-topnav-breakpoint-hidden) {
  .dh-topnav-item:first-child {
    flex-grow: 1;
  }
}

/*

<nav class="dh-collapse dh-topnav">

    <a href="#" class="dh-topnav-item">
        <img src="" />
    </a>

    <label class="dh-topnav-item dh-label" for="dh-topnav-toggler"></label>

    <input type="checkbox" class="dh-toggler" id="dh-topnav-toggler">

    <div class="dh-content">
       <a href="#" class="dh-topnav-item">Features</a>
       <a href="#" class="dh-topnav-item">About</a>
    </div>

</nav>

*/
