@mixin dh-accordion() {
  .dh-accordion-content {display: none;}
  .dh-accordion-toggle {
    position: absolute;
    opacity: 0;
  }
  .dh-accordion-label,
  .dh-accordion-toggle:checked ~ .dh-accordion-content {
    display: block;
  }
}
