@import "../mixins/flex";
@import "../mixins/shadow";
@import "../variables";

@mixin dh-block($props) {
  @include dh-flex-center-y();
  min-height: $dh-touch-height;
  min-width: $dh-touch-width;

  $padding: map-get($props, "padding");
  $color: map-get($props, "color");
  $bgc: map-get($props, "bgc");
  $border: map-get($props, "border");

  @if $padding {
    padding: $padding;
  }
  @if $color {
    color: $color;
  }
  @if $bgc {
    background-color: $bgc;
  }
  @if $border {
    @include dh-responsive-border($border);
  }

  @if map_has_key($props, "is-link") {
    cursor: pointer;

    &:hover {
      @if $color {
        color: darken($color, 15);
      }
      @if $bgc {
        background-color: darken($bgc, 5);
      }
      text-decoration: none;
    }
  }
}

@mixin dh-block-link($props) {
  @include dh-block(map-merge($props, (is-link: true)));
}
