@mixin dh-flex-center-x() {
  display: flex;
  justify-content: center;
}

@mixin dh-flex-center-y() {
  display: flex;
  align-items: center;
}

@mixin dh-flex-center() {
  @include dh-flex-center-x();
  @include dh-flex-center-y();
}
