@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../node_modules/bootstrap/scss/variables";

#dh-breakpoint-helper::after {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: block;
  padding: .5em;
  color: white;
  background-color: black;

  @each $name, $width in $grid-breakpoints {
    @include media-breakpoint-only($name) {content: $name}
  }
}
