@import "variables";

@function dh-get($map, $key, $default: null) {
  @if map_has_key($map, $key) {
    @return map_get($map, $key);
  } @else {
    @return $default;
  }
}

@function dh-get-prop-name($name) {
  $abbreviations: (
    bgc: "background-color",
    shadow: "box-shadow"
  );

  @return dh-get($abbreviations, $name, $name);
}
