@import "variables";

@function dh-default-to($value, $default-value) {
  @if ($value) {
    @return $value;
  } @else {
    @return $default-value;
  }
}

@function dh-get($map, $key, $default: null) {
  @return dh-default-to(map_get($map, $key), $default);
}

@function dh-get-prop-name($name) {
  $abbreviations: (
    bgc: "background-color",
    shadow: "box-shadow"
  );

  @return dh-get($abbreviations, $name, $name);
}
